// ==========================================================================
// Hitch-A-Ride buttons
// ==========================================================================

.btn {
  background: $primary-color;
  color: $white;
  font-weight: 300;

  &:hover,
  &:focus {
    background: $light-primary-color;
  }

  &:active {
    background: $dark-primary-color;
  }

  &.full {
    padding: 0;
    width: 100%;
  }
}

@mixin btn-with-logo($base-height, $separator-width) {
  height: calc(3 * #{$base-height});

  .logo-container {
    width: calc(3 * #{$base-height});

    svg {
      height: calc(2 * #{$base-height});
      width: calc(2 * #{$base-height});
    }
  }

  .separator {
    border-left: $separator-width solid $white;
  }

  .text-container {
    font-size: $base-height;
    font-weight: 500;
    letter-spacing: 0;
    margin: 0 $base-height;
    text-transform: none;
  }
}

.btn.btn-with-logo {
  @include btn-with-logo(14px, 1px);

  border-radius: 5px;
  display: flex;
  padding: 0;

  .logo-container,
  .text-container {
    @include center-contents;
  }

  @media #{'only screen and #{$medium}'} {
    @include btn-with-logo(16px, 1.5px);
  }

  @media #{'only screen and #{$large}'} {
    @include btn-with-logo(18px, 2px);
  }
}
