// ==========================================================================
// Hitch-A-Ride layout
// ==========================================================================

* {
  box-sizing: border-box;
}

html,
#root,
body,
.root {
  height: 100%;
  min-height: 562px;
}

#app-background-overlay {
  @include full-page(-5, .6);

  background: $black;
}

#app-background {
  @include full-page(-10, 0);
}

.centered-container {
  @include center-contents;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.root {
  display: flex;
  flex-direction: column;
  padding: 2.5%;
  position: relative;

  .main {
    flex-grow: 1;
    height: 90%;
  }
}
