// ==========================================================================
// Hitch-A-Ride Maps
// ==========================================================================

.map {
  &.small {
    height: 8em;
  }

  &.medium {
    height: 12em;
  }

  &.large {
    height: 16em;
  }

  &.full {
    height: 100%;
  }
}
