// ==========================================================================
// Hitch-A-Ride Maps
// ==========================================================================

.map {
  &.small {
    height: 10em;
  }

  &.medium {
    height: 18em;
  }

  &.large {
    height: 28em;
  }

  &.full {
    height: 100%;
  }
}
