// ==========================================================================
// Hitch-A-Ride Maps
// ==========================================================================

.map {
  width: 100%;

  &.small {
    height: 10em;

    @media screen and (max-width: 480px) {
      height: 8em;
    }
  }

  &.medium {
    height: 18em;

    @media screen and (max-width: 480px) {
      height: 15em;
    }
  }

  &.large {
    height: 28em;

    @media screen and (max-width: 480px) {
      height: 22em;
    }
  }

  &.full {
    height: 100%;
  }
}
