// ==========================================================================
// Hitch-A-Ride variables
// ==========================================================================
//
// Table of Contents:
//
//  1. Colors
//  2. Media Queries
//  3. Typography



// 1. Colors
// ==========================================================================
$black: #000;
$white: #fafafa;
$black-50: rgba(0, 0, 0, .5);
$black-70: rgba(0, 0, 0, .7);
$primary-color: #00bcd4;
$dark-primary-color: #00838f;
$light-primary-color: #80deea;
$primary-text-color: #fff;
$secondary-color: #ffaf30;
$dark-secondary-color: #fc9b00;
$light-secondary-color: #ffc363;
$secondary-text-color: #212121;

// 2. Media Queries
// ==========================================================================
$small: '(max-width : 600px)';
$medium: '(min-width : 601px) and (max-width : 992px)';
$large: '(min-width : 993px) and (max-width : 1440px)';
$extra-large: '(min-width : 1441px)';
$mobile: '(orientation : portrait)';
$desktop: '(orientation : landscape)';

// 3. Typography
// ==========================================================================
$font-small: 12px;
$font-medium: 15px;
$font-large: 18px;
